name: "Testing baby"

on:
  # workflow_dispatch:
  pull_request:

permissions:
  contents: read
  issues: write
  pull-requests: write

# jobs:
#   runner:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4
#       - name: setup go
#         uses: actions/setup-go@v5
#       - name: Run goreleaser
#         uses: goreleaser/goreleaser-action@v6
#         with:
#           distribution: goreleaser
#           version: 'v2.1.0'
#           args: release --clean --snapshot
#           workdir: './go'
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# jobs:
#   download:
#     runs-on: ubuntu-latest
#     steps:
#       - name: download
#         uses: actions/download-artifact@v4

# jobs:
#   buildx:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Set up Docker Buildx
#         uses: crazy-max/ghaction-docker-buildx@v3
#         with:
#           buildx-version: latest
#           qemu-version: latest

jobs:
  update_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: tzkhan/pr-update-action@v2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        base-branch-regex: '[a-z\d-_.\\/]+'
        head-branch-regex: '[a-z\d-_.\\/]+'
        title-template: '[%headbranch%] '
        body-update-action: 'suffix'
        body-uppercase-base-match: false
